@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Roboto';
}
body img{
    width: 100%;
}

body.theme-light{
    height: 3000px;
}
body a{
    text-decoration: none !important;
}

body.theme-light header#global_header{
    position: fixed;
    width: 100%;
    height: 45px;
    color: #ffffff;
    background-color: #27273c;
    transition: all 0.5s;
    box-shadow: inset 0 -2px 0 -1px rgba(255, 255, 255, .3);
    z-index: 100;
    top: 0;
}

body.theme-light header#global_header #global_header-mobile_menu #global_header-logo_img{
    width: 100%;
    max-width: 90px;
    height: 100%;
}

body.theme-light header#global_header.header-out {
    transform: translateY(-100%);
}
body.theme-light header#global_header.menu_opened{
    transform: translateY(0);
}
body.theme-light header#global_header .navbar-toggler{
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border: 0;

    box-shadow: none;
    max-width: 45px;
}
/* оформление иконки */

.burger_icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;

    width: 100%;
    height: 100%;
    transform: scale(1.5);
}
.burger_icon path{
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.burger_icon.active {
    transform: rotate(180deg) scale(1.5);
}
.burger_icon .top {
    stroke-dasharray: 40 82;
}
.burger_icon .bottom {
    stroke-dasharray: 40 82;
}
.burger_icon.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}
.burger_icon.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

body.theme-light .burger_icon path{
    stroke: white;
}

#global_header-mobile_menu-links>*{
    width: 100%;
    max-width: 45px;
    text-align: center;
}

body.theme-light #global_header .navbar-collapse{
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #27273c;

    transform: translateX(100%);

    transition: .3s;
}
body.theme-light #global_header .navbar-collapse.show{
    transform: translateX(0);
}

body.theme-light #global_header .hmb_cols {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
body.theme-light #global_header .hmb_cols > div {
    width: calc((100% - 30px) / 2);
}
body.theme-light #global_header .hmb_col_title {
    color: #fff;
    opacity: .5;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
body.theme-light #global_header .hmb_col_list {
    margin-top: 5px;
    display: flex;
    color: #fff;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

body #global_header .hmb_col_list > a:nth-of-type(n+2) {
    margin-top: 5px;
}
body.theme-light #global_header .hmb_col_list a {
    color: #fff;
}
body #global_header .hmb_cols > div:nth-of-type(n+3) {
    margin-top: 20px;
}
body #global_header .hmb_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 57px;
    background-color: #FF0C00;
    color: #fff;
    width: 100%;
}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.full_screen_section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.full_screen_section .waveWrapper {
    /*overflow: hidden;*/
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

#banner_section #banner_section-data{
    margin-top: -25px;
    z-index: 25;
}

#banner_section #banner_section-data>#banner_section-data_logo{
    width: 80%;
    margin: auto;
}
#banner_section #banner_section-data>#banner_section-data_logo>img{
    width: 100%;
}

#banner_section #banner_section-data>#banner_section-data_text{
    margin-top: 20px;
}
#banner_section #banner_section-data>#banner_section-data_text>p{
    font-size: 18px;
    color: white;
    text-align: center;
}

/* #service_for */
#services .service_item{
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.5);
    padding: 7px;
    padding-left: 25px;
    border-radius: 9px;
}
#services .service_item>.service_img>img{
    width: 100px;
}
#services .service_list ul{
    list-style: none;
    padding: 0;
}
#services .service_list ul>li {
    padding-left: 15px;
    position: relative;
}
#services .service_list ul>li:before {
    position: absolute;
    content: "";
    border-radius: 100%;
    left: 2px;
    background-color: #FF0C00;

    top: 8px;
    height: 5px;
    width: 5px;
}
#services .service_title>*{
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
}

.bg_fixed{
    background-attachment: fixed;
    background-size: cover;
}
.bg_title{
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
}

#steps_of_work #steps > div.step_item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}
#steps_of_work #steps > div.step_item:nth-of-type(2n-1){
    background-color: #F7F7F7;
}

#steps_of_work #steps > div.step_item svg {
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
}
#steps_of_work #steps > div.step_item>.step_item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
}
#steps_of_work #steps > div.step_item>.step_item-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}




:root {
    /*--gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;*/
    --gradient: linear-gradient(to left bottom, #86377b 10%, #27273c 90%) !important;
}

.card.portfolio_item {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;

    transform: translateY(-50%) rotate(0deg);
    animation: cn_hww_img_tb 3s infinite cubic-bezier(.45, .05, .55, .95), cn_hww_img_rotate 3s infinite ease-in-out;
}
/*.portfolio_item .cn_hww_r_img {
    position: relative;
    height: 100%;
    top: calc(50% + 5px);
    transform: translateY(-50%) rotate(0deg);
    animation: cn_hww_img_tb 3s infinite cubic-bezier(.45, .05, .55, .95), cn_hww_img_rotate 3s infinite ease-in-out;
}*/

.portfolio_item .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: white !important;
    border-image-source:  var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.portfolio_item .btn:hover, .portfolio_item .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

@keyframes cn_serv_img_tb {
    0% {
        transform: translateY(5px)
    }
    50% {
        transform: translateY(-5px)
    }
    100% {
        transform: translateY(5px)
    }
}

@keyframes cn_hww_img_tb {
    0% {
        top: calc(50% + 5px)
    }
    50% {
        top: calc(50% - 5px)
    }
    100% {
        top: calc(50% + 5px)
    }
}

@keyframes cn_hww_img_rotate {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(1deg)
    }
    75% {
        transform: rotate(-1deg)
    }
    100% {
        transform: rotate(0deg)
    }
}